<div class="page-header">
  <h1>
    Projects (Chronological Order)
    <% if current_organization != nil %>
    <a href="/projects/new" class="btn btn-lg btn-success">New Project</a>
    <% else %>
    <% end %>
  </h1>
  <i>
    Below is a list of open projects planned to occur in the next 60 days.
    <% if current_organization != nil %>
    <br>As an organization, you can <b>create</b>, <b>edit</b>, <b>delete</b> your projects, or mark them <b>filled</b>.
    <br>Projects that have filled their capacity will still appear in that list, and you can revert the action later.
    <% else %>
    <br>If you are interested in volunteering for one of those projects, please click on "Show" for more information.
    <br>If you are an organization interested in posting volunteering opportunities, please sign up using the link in the top right corner.
    <% end %>
  </i>
</div>

<% @projects.each do |project| %>

<div class="row">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <small><%= project.day.day %></small><br> <%= project.name %> (<a href="/organizations/<%= project.organization.id %>"><%= project.organization.name %></a>)
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-3">
      <div class="hovereffect">
        <img src="<%= project.illustration %>" class="img-fluid center-block" alt="Responsive image" height=150px>
      </div>
    </div>
    <div class="col-sm-offset-0 col-sm-5">
      <small>
        Number of Volunteers: <%= project.number_of_volunteers_required %><br>
        Location: <a href="/locations/<%= project.location.id %>"><%= project.location.neighborhood %></a><br>
        <%= truncate(project.description, :length => 200, :omission => '... (continued)') %><br><br>
        <a href="/projects/<%= project.id %>" class="btn btn-primary btn-sm">Learn More & Sign-Up</a>
          <% if current_organization == project.organization %>
          <a href="/projects/<%= project.id %>/edit" class="btn btn-warning btn-sm">Edit</i></a>
          <a href="/organizations/<%= project.organization.id %>" class="btn btn-info btn-sm">Mark Complete</i></a>
          <a href="/delete_project/<%= project.id %>" class="btn btn-default btn-sm" rel="nofollow">Delete</i></a>
          <% end %>
      </small>
    </div>

  </div>
</div>
<br>
<br>
<% end %>
