<div class="page-header">
  <h2><%= @project.name %> (<%= @project.organization.name %>)</h2>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <dt>Day</dt>
      <dd>
        <% if @project.day.present? %>
        <a href="/days/<%= @project.day_id %>">
          <%= @project.day.day %>
        </a>
        <% end %>
      </dd>
<br>
      <dt>Description</dt>
      <dd><%= @project.description %></dd>
<br>
      <dt>Team</dt>
      <dd><%= @project.number_of_volunteers_required %> volunteers</dd>

<br>
      <dt>Address</dt>


      <dd>

        <div>
          <iframe
          frameborder="0" style="border:0; width: 100%; height: 300px"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7LQxvUQoh4RY8Ns4hBZJyCHeHV7Ebpyc
          &q=<%= @project.address %>" allowfullscreen>
        </iframe>
      </div>


    </dd>
<br>
    <% if current_organization != nil %>
<dd>
<a href="/organizations/<%= @project.organization_id %>" class="btn btn-primary btn-sm">See Other Projects From <%= @project.organization.name %></a>
  </dd>
    <% else %>

    <dd>
      <a href="mailto:<%= @project.organization.email %>?subject=Application for the <%= @project.name %> project&body=Below is my application for the <%= @project.name %> scheduled on <%= @project.day.day %>." class="btn btn-primary btn-sm">Send Application</a>
      <a href="/organizations/<%= @project.organization_id %>" class="btn btn-default btn-sm">See Other Projects From <%= @project.organization.name %></a>
    </dd>
    <% end %>



  </dl>

  <div class="btn-group btn-group-justified">
    <a href="/projects" class="btn btn-primary">
      Back
    </a>
    <% if current_organization == @project.organization %>
    <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
      Edit
    </a>
    <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
      Mark Filled
    </a>
    <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
      Delete
    </a>
    <% end %>
  </div>
</div>
</div>
