<div class="page-header">
  <h3><%= @project.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @project.name %></dd>

      <dt>Location</dt>
      <dd>
        <% if @project.location.present? %>
          <a href="/locations/<%= @project.location_id %>">
            <%= @project.location.neighborhood %>
          </a>
        <% end %>
      </dd>

      <dt>Day</dt>
      <dd>
        <% if @project.day.present? %>
          <a href="/days/<%= @project.day_id %>">
            <%= @project.day.day %>
          </a>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= @project.description %></dd>

      <dt>Number of volunteers required</dt>
      <dd><%= @project.number_of_volunteers_required %></dd>

      <dt>Organization</dt>
      <dd>
        <% if @project.organization.present? %>
          <a href="/organizations/<%= @project.organization_id %>">
            <%= @project.organization.name %>
          </a>
        <% end %>
      </dd>

      <dt>Address</dt>
      <dd>
          <%= @project.address %>
      </dd>

<dd>

          <div id="map" style="width:auto;height:400px;background:white"></div>

          <script>
          function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
              center: new google.maps.LatLng(1, -0.2), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
          }
          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSEy_tp-gDA7iYevUIGvBtDf0r90JFEMM&callback=myMap"></script>
    </dd>

    <% if current_organization != nil %>

    <% else %>
    <dt>Sign-Up</dt>
    <dd>
        <a href="mailto:<%= @project.organization.email %>?subject=Application for the <%= @project.name %> project&body=Below is my application for the <%= @project.name %> scheduled on <%= @project.day.day %>.">Send Application</a>
    </dd>
    <% end %>



    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
      <% if current_organization == @project.organization %>
        <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
