<div class="page-header">
  <h1>
    Organizations (A-Z)
  </h1>
  <i>
    Below is a list of the organizations that are active on ChicagoVolunteers.
</i>
</div>


<% @organizations.each do |organization| %>

<div class="row">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= organization.name %>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-3">
      <div class="hovereffect">
      <a href="/organizations/<%= organization.id %>" > <img src="<%= organization.logo %>" class="img-fluid center-block" alt="Responsive image" height=150px> </a>
    </div>
    </div>
    <div class="col-sm-offset-0 col-sm-3">
      <small>
        Number of projects: <%= organization.projects.count %> <br>
        Member since <%= organization.created_at.strftime("%d %b. %Y") %><br>
        <%= truncate(organization.description, :length => 120, :omission => '... (continued)') %><br><br>
        <a href="/organizations/<%= organization.id %>" class="btn btn-primary btn-sm">Learn More</a>
      </small>
    </div>
  </div>
</div>
<br>
<br>

<% end %>
